<h1>Dashboard</h1>

<!--Used to push flash messages, like 'passwords don't match' and other validation-->
<br>
    <% include ./partials/messages %>
<br>

<p>Welcome <%= name %></p>
<a href="/users/logout">Logout</a>