<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Department Notifications</title>
    <% include ./partials/head.ejs %> 
</head>

<body>
    <% include ./partials/navbar.ejs %> 
    <div class="container-fluid container-fluid-row">
        <div class="row container-row">
            <% include ./partials/sidebar.ejs %> 
            <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4 m-0">
                <!--Used to push flash messages, like 'passwords don't match' and other validation-->
                <br>
                <% include ./partials/messages %>
                <br>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2 greeting">Department of <%= user.department %></h1>
                </div>

                <% notificationList.forEach(notification => { %>
                <div class="card p-3">
                    <h5 class="card-title"><%= notification.title %></h5>
                    <p class="card-text"><%= notification.body.substring(0,300) %>...</p>
                    <a href="/dashboard/notifications/<%= notification._id%>" class="btn btn-dark read-more-btn">Read
                        More</a>
                </div>
                <% }); %>

        </div>
        </main>

        <div class="col-md-4 black-side">

        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>