    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    <h1>Register</h1>

    
    <div>
        <% include ./partials/messages %>
    </div>



    <form action="/users/register" method="POST">
        <label >Username: </label>
        <input type="text" name="name">
        <br>
        <label >Email: </label>
        <input type="text" name="email">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <label>Password Again</label>
        <input type="password" name="password2">
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>