<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>College Notifications</title>
    <% include ./partials/head.ejs %> 

    <script>
        function generateTableValues() {
            var table = document.getElementById('marks-table');
            var sum = 0;
            for (i = 1; i < 6; i++) {
                var element = Math.floor(Math.random() * (10 - 5 + 1)) + 5;
                table.rows[i].cells[3].innerHTML = element;
                sum += element;
            }
            document.getElementById('sgpa').innerHTML = (sum / 6).toFixed(2);
        }
    </script>
</head>

<body onload="generateTableValues()">
    <% include ./partials/navbar.ejs %> 
    <div class="container-fluid container-fluid-row">
        <div class="row container-row">
            <% include ./partials/sidebar.ejs %> 
            <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4 m-0">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Results</h1>
                </div>
                <table class="table table-striped table-dark" id="marks-table">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Course Code</th>
                            <th scope="col">Course</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>CS61</td>
                            <td>Internet and Web Technology</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>CS62</td>
                            <td>Complier Design</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>CS63</td>
                            <td>Computer Graphics</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>CS64</td>
                            <td>Cloud and Big Data</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>CS65</td>
                            <td>Software Architecture and Design Patterns</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>CS66</td>
                            <td>Software Testing</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="4" class="sgpa"></th>
                        </tr>
                        <tr>
                            <th scope="row" colspan="3" class="sgpa">SGPA</th>
                            <td id="sgpa">8</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        </main>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>