<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>College Notifications</title>
    <% include ./partials/head.ejs %> 

    <script>
        function generateTableValues() {
            var table = document.getElementById('marks-table');
            var sum = 0;
            for (i = 1; i < 6; i++) {
                var element = Math.floor(Math.random() * (10 - 5 + 1)) + 5;
                table.rows[i].cells[3].innerHTML = element;
                sum += element;
            }
            document.getElementById('sgpa').innerHTML = (sum / 6).toFixed(2);
        }
    </script>
</head>

<body onload="generateTableValues()">
    <% include ./partials/navbar.ejs %> 
    <div class="container-fluid container-fluid-row">
        <div class="row container-row">
            <% include ./partials/sidebar.ejs %> 
            <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4 m-0">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Results</h1>
                </div>
                <% include ./partials/messages %>
                <% if (user.isStaff) { %>
                    <div>
                       
                        <form action="/results/upload" class="form-inline px-3 upload-information" method="post" encType="multipart/form-data">
                              <div class="row justify-content-md-center mt-3">
                                 
                                <div class="form-group">
                                    <label for="resultsFile">Result File:</label>
                                    <div class="px-1 mx-1"></div>
                                    <input type="file" class="btn btn-green mr-3" name="resultsFile" id="resultsFile"/>
                                </div>    
                                <button class="btn add-notification-btn" type="submit"><i class="fa fa-upload pr-2" aria-hidden="true"></i>Upload Result</button>
                            </div>
                             
                           
                        </form>
                        <div class="upload-information mt-5">
                            <div class="card">
                                <div class="card-header">
                                    Please note:
                                </div>
                                <div class="card-body">
                                        <ol class="card-text">
                                            <li>The result has to be uploaded through a csv file</li>
                                            <li>The subject names must be included in the first row</li>
                                            <li>Only the student's USN and marks must be included</li>
                                            <li>The marks must be out of 10.</li>
                                            <li>Download the template for your reference</li>
                                        </ol>
                                        <a href="/results/download-template" class="btn btn-secondary"><i class="fa fa-download pr-2" aria-hidden="true"></i>Download Template</a>
                                </div>
                            </div>
                            
                          
                          
                        </div>
                       
                    </div>
                
               <% } else { %>
                
                <% if (!result) { %>
                 <div class="alert alert-info"role="alert">Your result hasn't been uploaded yet.</div>
               
                <% } else { %>
 
                <table class="table table-bordered table-hover text-center upload-information" id="marks-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Course</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% result.subjects.forEach((entity,index) => { %>
                        <tr>
                            <th scope="row"><%= index+1 %> </th>
                            <td><%= entity.subject %> </td>
                            <td><%= entity.marks %></td>
                        </tr>
                        <% }) %>
                        <tr class="bg-success text-white">
                            <th scope="row" colspan="2" class="sgpa">SGPA</th>
                            <td id="sgpa"><%= result.cgpa %></td>
                        </tr>
                    </tbody>
                </table>
                <% } %>
                <% } %>
            </main>
        </div>
        </main>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>