html {
  height: 100%;
}

body {
  font-size: 0.875rem;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.card {
  margin-bottom: 3em;
}

.read-more-btn {
  max-width: 20%;
}

.sidebar {
  position: sticky;
  font-size: 1rem;
  overflow-x: hidden;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  color: #b3b3b3;
  transition: 0.3s;
}

.sidebar-sticky {
  position: fixed;
  height: 100%;
  left: 0;
  width: 300px;
  background-color: rgb(248, 249, 250);
}

.sidebar .nav-link.active {
  color: #007bff;
}

.return-to-btn {
  max-width: 30%;
}

hr {
  margin: 1rem 0 0 0;
}

.sgpa {
  text-align: center;
}

.greeting {
  text-transform: capitalize;
}

.delete-btn {
  background: none;
  border: none;
  color: #0056b3;
  cursor: pointer;
}

.delete-comment-form {
  display: inline;
}

.container-fluid-row {
  height: 100%;
}

.container-row {
  height: 100%;
  background-color: #ebecf1;
}

.sidebar-container {
  background-color: #206a5d;
}

.navbar-container {
  background-color: #1f4068;
}

.sidebar-container .nav-link {
  color: #ebecf1d8;
  font-size: 1.2rem;
  border-bottom: 0.5px solid #74a29a;
  box-shadow: 1px #74a29a;
}

.sidebar-container .nav-link.active {
  color: #ebecf1;
  font-weight: bold !important;
}

.new-announcement {
  background-color: white;
  padding: 1rem;
}

.new-announcement .title-editable {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.new-announcement .medium-editor-textarea {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 10rem;
}

.add-notification-btn {
  background-color: #1f4068;
  color: white;
  border: none;
}

.add-notification-btn:hover {
  background-color: #1f4068e1;
  border: none;
}

.author-name {
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
}

.font-pt-serif {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
}

.notification-heading {
  font-size: 3rem;
  font-weight: bold;
}

.upload-information {
  font-size: 1.2rem;
}

.btn-green {
  background-color: #206a5d;
  color: white;
  cursor: default;
}

.github-icon {
  color: #333;
}

.github-icon:hover {
  color: rgb(0, 0, 0);
}

.linkedin-icon {
  color: black;
}
.linkedin-icon:hover {
  color: #1f4068;
}
